<!-- <p>admin works!</p>

<div class="container py-5 h-100" style="background-image: url('assets/1.jpg');">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
  
          <div class="card-body p-5 text-center">
    
            <div class="mb-md-5 mt-md-4 pb-5">
  
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
  
      
      <form (ngSubmit)=" Admin(adminName.value, adminPassword.value)">
          <div class="form-outline form-white mb-4">
              <label for="adminName">adminName:</label>
              <input type="adminName" id="adminName" name="adminName" class="form-control form-control-lg" required #adminName>
            </div>
        <div class="form-outline form-white mb-4">
          <label for="adminPassword">Password:</label>
          <input type="adminPassword" id="adminPassword" name="adminPassword" class="form-control form-control-lg" required #adminPassword>
        </div>
        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
      </form>
      <div>
        <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
        </p>
      </div>
    </div> 
    </div>
    </div>
    </div>
    
   
    
  
     -->
     <p>admin works!</p>

<div class="container py-5 h-100" style="background-image: url('assets/1a.jpg');">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <form (ngSubmit)="Admin(adminName.value, adminPassword.value)">
              <div class="form-outline form-white mb-4">
                <label for="adminName">Admin Name:</label>
                <input type="text" id="adminName" name="adminName" class="form-control form-control-lg" required #adminName>
              </div>
              <div class="form-outline form-white mb-4">
                <label for="adminPassword">Password:</label>
                <input type="password" id="adminPassword" name="adminPassword" class="form-control form-control-lg" required #adminPassword>
              </div>
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </form>
            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
