<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1" />

	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body routerLinkActive="/home">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand"  routerLink="/home">FitBoz</a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/work" > Workouts </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link"  routerLink="/exe"  >Exercise</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"></a>
				</li>
        <div class="dropdown me-auto">
          <button class="btn btn-dark text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" >
           Register
          </button>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item " routerLink="/signup">Sign-up</a></li>
            <li><a class="dropdown-item" routerLink="/sign">Sign-in</a></li>
            <li><a class="dropdown-item" href="#">Admin-in</a></li>
          </ul>
        </div> 

			</ul>
      
		</div>
	</nav>
  <br>
  <br>
<div class="container py-5 h-100" style="background-image: url('assets/1a.jpg');">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">

        <div class="card-body p-5 text-center">
  
          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

    
    <form (ngSubmit)="User(UserName.value, password.value,Email.value)">
        <div class="form-outline form-white mb-4">
            <label for="UserName">UserName:</label>
            <input type="UserName" id="UserName" name="UserName" class="form-control form-control-lg" required #UserName>
          </div>
      <div class="form-outline form-white mb-4">
        <label for="Email">Email Id:</label>
        <input type="email" id="Email" name="Email" class="form-control form-control-lg" required #Email>
      </div>
      <div class="form-outline form-white mb-4">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control form-control-lg" required #password>
      </div>
      <button class="btn btn-outline-light btn-lg px-5" type="submit" >Login</button>
    </form>
    <div>
      <p class="mb-0">Don't have an account? <a routerLink="/signup" class="text-white-50 fw-bold">Sign Up</a>
      </p>
    </div>
  </div> 
  </div>
  </div>
  </div>
  </div>
  </div>
  </body>
  </html>
  
 
  

  