.card-img-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.athee{

    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}
 
 .athee span { 
     background:#fff; 
     padding:0 10px; 
 }



 .footer {
  background-color: #000000ba;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #00FF00; /* Change to your desired hover color */
}

.footer ul {
  list-style: none; /* Remove the default bullet points */
  padding-left: 0; /* Remove the default padding for the list */
}

.footer .copyright {
  grid-column: 1 / -1; /* Span the full width of the grid */
  margin-top: 20px; /* Add some spacing between the last row and the copyright statement */
}
