<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1" />

	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body routerLinkActive="/home">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand"  routerLink="/home">FitBoz</a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/work" > Workouts </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link"  routerLink="/exe"  >Exercise</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"></a>
				</li>
        <div class="dropdown me-auto">
          <button class="btn btn-dark text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" >
           Add Filter
          </button>
          <ul class="dropdown-menu ">
			<li><a class="dropdown-item " routerLink="/triple">Multiple filter</a></li>
            <li><a class="dropdown-item" routerLink="/wid/:eid">Workout</a></li>
            <li><a class="dropdown-item" routerLink="/ecount">count</a></li>
            <li><a class="dropdown-item" routerLink="/inten">intensity</a></li>
            <li><a class="dropdown-item " href="/home">none</a></li>
            
          </ul>
        </div> 

			</ul>
      
		</div>
	</nav>

 
<p>workoutf works!</p>
<input [(ngModel)]="intensity" type="text" id="intensity" placeholder="please enter your intensity">
<button (click)="fetchWorkouts()">get</button> 
<div  class="col-md-4" *ngFor="let workout of workouts">
	<div class="card animate-on-scroll">
	  <div class="card-body text-white bg-dark">

    <h3>{{ workout.wname }}</h3>
    <p>Trainer: {{ workout.trainer }}</p>
    <p>Intensity: {{ workout.intensity }}</p>
    <p>Date: {{ workout.wdate | date }}</p>
    <p>Duration: {{ workout.duration }}</p>
    <p>Main Goal: {{ workout.maingoal }}</p>
</div>
</div>
</div>
</body>
</html>
